@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --padding-x: 1rem;
  --transition-time: 400ms;
  --white: #fff;
  --font-size: 1rem;
}

/* Start of Basic Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

/* End of Basic Reset */

/* Start of header section */

/* Wrapper that wraps logo and nav */
.logo-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

/* logo */
.logo {
  cursor: pointer;
  width: 5.8rem;
}

/* Nav styles - hide nav on default */
.header-nav {
  position: absolute;
  top: 5.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  padding: 2.7rem 0 0 0;
  z-index: 2;
  transform: translateX(-150%);
  transition: all var(--transition-time) ease-in-out;
}

/* open nav when hamburger is clicked */
.header-nav.open {
  transform: translateX(0%);
}

/* Nav links */
.header-nav-link {
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 0.9rem 0.1rem;
  border: 2px solid transparent;
  transition: all var(--transition-time) ease-in-out;
}

.header-nav-link:last-child {
  margin: 1.5rem 0;
}

.header-nav-link:not(:last-child):hover {
  border-bottom-color: #5550aa;
}

/* Button in nav */
.link-btn {
  padding: 1rem;
  background: #1b1a27;
  color: var(--white);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: all var(--transition-time) ease-in-out;
}

.link-btn:hover,
.link-btn:focus {
  color: #1b1a27;
  border: 1px solid #1b1a27;
  background: var(--white);
}

/* Hamburger to open nav */
.hamburger {
  background: none;
  border: none;
  padding: 0 var(--padding-x) 0 0;
}

.fa-bars,
.fa-times {
  font-size: 1.6rem;
}
/* End of header section */

/* Start of footer */
.footer {
  background-color: #1b1a27;
  padding: 1rem 0;
  text-align: center;
}

.footer-socials {
  font-size: 1.7rem;
  color: var(--white);
}

.footer-socials:not(:last-child) {
  margin-right: 1.4rem;
}
/* End of footer */

@media screen and (min-width: 62rem) {
  .header-nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background: none;
    padding: 0;
    z-index: 2;
    transform: translateX(0);
  }

  .hamburger {
    display: none;
  }

  .header-nav-link {
    color: #333;
    margin: 0 1.3rem 0 0;
  }

  .header-nav-link:last-child {
    color: #eee;
  }

  .header-nav-link:last-child:hover,
  .header-nav-link:last-child:focus {
    color: #1b1a27;
  }
}
