.main {
  --padding-x: 1.4rem;
  margin: 2rem var(--padding-x);
}

.main-text {
  text-align: center;
  margin-bottom: 2rem;
}

.vote-position {
  padding: 1rem 0;
}

.position-text {
  font-weight: 400;
}

.position {
  font-size: 1.25rem;
  font-weight: 600;
  display: block;
  margin: 0.4rem 0;
}

.position-desc-heading {
  margin: 2.5rem 0 1rem 0;
  color: rgba(0, 0, 0, 0.68);
}

.position-desc {
  line-height: 1.8;
}

.candidate-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 4rem 0;
}

.candidate-card {
  position: relative;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.header-img {
  background-image: url("../images/vote-card-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(27, 26, 39, 0.6);
  background-blend-mode: multiply;
  width: 100%;
  height: 10rem;
}

.candidate-img {
  width: 9.4rem;
  height: 9.4rem;
  object-fit: cover;
  border-radius: 50%;
  margin: -4rem 0 0 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.candidate-details {
  padding: 1rem 1.5rem;
}

.candidate-name {
  font-size: 1.36rem;
  padding: 0.4rem 0 0.2rem 0;
}

.candidate-job {
  padding-bottom: 0.8rem;
  font-weight: 500;
  color: #888;
}

.experience {
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid #5550aa;
}

.year {
  color: #2d2b57;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
}

.experience-text {
  font-style: italic;
}

.candidate-socials {
  font-size: 1.4rem;
  color: #5550aa;
}

.candidate-socials:not(:last-child) {
  margin-right: 0.8rem;
}

.candidate-contribution {
  padding: 1.5rem 0;
  line-height: 1.8;
}

.vote-card-btn {
  width: 100%;
  margin: 2rem 0 1.5rem 0;
}

.view-results {
  text-align: center;
}

.view-results-btn {
  display: inline-block;
  margin: 2rem 0 3rem 0;
  background-color: transparent;
  border: 1px solid #1b1a27;
  color: #1b1a27;
  transition: all var(--transition-time) ease-in-out;
}

.view-results-btn:hover,
.view-results-btn:focus {
  background-color: #1b1a27;
  color: var(--white);
}

.fa-arrow-right {
  transition: all var(--transition-time) ease-in-out;
  display: inline-block;
  margin-left: 0.6rem;
}

.view-results-btn:hover .fa-arrow-right,
.view-results-btn:focus .fa-arrow-right {
  color: var(--white);
}

.form {
  width: 90%;
  max-width: 45rem;
  margin: 2rem auto;
  padding: 1rem;
}

.form-heading {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.success-message {
  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
  padding: 1.6rem var(--padding-x);
  background-color: rgb(73, 214, 73);
  display: none;
  margin: 1rem 0;
}

.success-message.open {
  display: block;
}

.input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem;
  margin: 1.5rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0.4rem;
}

.form-btn {
  width: 100%;
  font-size: 1.2rem;
  background-color: #635faa;
  margin: 1.5rem 0;
  letter-spacing: 2px;
}

@media screen and (min-width: 48rem) {
  .main {
    width: 90%;
    max-width: 60rem;
    margin: 2.5rem auto;
  }
  .main-text {
    margin-bottom: 2.7rem;
  }

  .vote-position {
    font-size: 1.5rem;
  }

  .position {
    font-size: 1.4rem;
    display: inline-block;
    margin: 0 0.8rem;
  }

  .position-desc-heading {
    margin: 2.8rem 0 1.2rem 0;
    font-size: 1.3rem;
  }

  .position-desc {
    line-height: 1.8;
    font-size: 1.14rem;
  }

  .candidate-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 3rem;
    margin: 6rem 0;
  }

  .candidate-card {
    padding-bottom: 6rem;
  }

  .candidate-card:last-child {
    width: 85%;
    max-width: 40rem;
    margin: auto;
    grid-column: 1 / 3;
  }

  .header-img {
    height: 12rem;
  }

  .vote-card-btn {
    font-size: 1.1rem;
    position: absolute;
    bottom: 2rem;
    width: 85%;
    transform: translateX(-50%);
    margin: 0;
  }
}
